mixin courtForm(court = {})
  form(action="/add" method="POST")
    label(for="name") Name 
    input(type="text" name="name" id="name")
    label(for="description") Description 
    textarea(name="description" id="description")
    - const choices = ['Full Court', 'Half Court', 'Multiple Courts', 'Restrooms', 'Parking Lot']
    ul.tags
      each choice in choices 
        .tag.tag__choice  
          input(type="checkbox" id=choice value=choice name="tags")
          label(for=choice) #{choice}
    input(type="submit" value="Save" class="button")