.courts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-gap: 1rem;

  max-width: 1000px;
  margin: 0 auto;
  background-color: dodgerblue;
}

.court {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  background-color: chartreuse;
}

.court__hero {
  img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    margin: 3rem;
  }
}

.court__action--edit {
  a {
    font-size: 2rem;
    text-decoration: none;
  }
}