html {
  font-size: 10px;
}

body {
  // background: #efefef;
  background-color: aquamarine;

}

.inner {
  max-width: 900px;
  margin: 0 auto;

  @media all and (max-width: 900px) {
    padding: 2rem;
  }

  &--flashes {
    padding: 0;
  }
}

.nav {
  display: flex;
  background: dodgerblue;
  flex-direction: row;
  text-decoration: none;
  list-style: none;

  height: 50px;

  justify-content: space-between;
}

.nav__section {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    padding: 1rem;
  }
}

.nav__section--pages {
  background-color: bisque;

  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}